@import "tailwindcss";

@theme {
  --color-primary-50: #f5fdff;
  --color-primary-100: #e5fbff;
  --color-primary-200: #ccf7ff;
  --color-primary-300: #a3f1ff;
  --color-primary-400: #47e3ff;
  --color-primary-500: #00c7eb;
  --color-primary-600: #008fa8;
  --color-primary-700: #00687a;
  --color-primary-800: #003d47;
  --color-primary-900: #001e24;
  --color-primary-950: #001114;

  --color-secondary-50: #f7fcfd;
  --color-secondary-100: #ebf8fa;
  --color-secondary-200: #d7f2f4;
  --color-secondary-300: #b7e7eb;
  --color-secondary-400: #6fcfd8;
  --color-secondary-500: #32adb8;
  --color-secondary-600: #247c84;
  --color-secondary-700: #1a5a60;
  --color-secondary-800: #0f3538;
  --color-secondary-900: #081a1c;
  --color-secondary-950: #040f10;

  --color-tertiary-50: #fdfbf7;
  --color-tertiary-100: #faf4eb;
  --color-tertiary-200: #f5e9d6;
  --color-tertiary-300: #edd8b6;
  --color-tertiary-400: #dab06c;
  --color-tertiary-500: #bc862f;
  --color-tertiary-600: #876022;
  --color-tertiary-700: #624618;
  --color-tertiary-800: #39290e;
  --color-tertiary-900: #1d1407;
  --color-tertiary-950: #100c04;

  --color-quaternary-50: #fbfef6;
  --color-quaternary-100: #f6fce9;
  --color-quaternary-200: #edf8d3;
  --color-quaternary-300: #dff3af;
  --color-quaternary-400: #bee75f;
  --color-quaternary-500: #98cc1e;
  --color-quaternary-600: #6d9216;
  --color-quaternary-700: #4f6a10;
  --color-quaternary-800: #2e3e09;
  --color-quaternary-900: #171f05;
  --color-quaternary-950: #0d1203;

  --color-quinary-50: #fcfff5;
  --color-quinary-100: #f9ffe5;
  --color-quinary-200: #f2ffcc;
  --color-quinary-300: #e8ffa3;
  --color-quinary-400: #d1ff47;
  --color-quinary-500: #b0eb00;
  --color-quinary-600: #7ea800;
  --color-quinary-700: #5c7a00;
  --color-quinary-800: #364700;
  --color-quinary-900: #1b2400;
  --color-quinary-950: #0f1400;
}
